html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

  body
    #page
      #slot.slot-wrapper
        section.top-box
          #display
            #credits 0
            #win 0
          .side.top
          .side.bottom
          .side.left
          .side.right
          .side.front.glas
          .side.back
          .wheels
            section#wheel-1.wheel
              .part 1
              .part
              .part 2
              .part
              .part 3
              .part
              .part 4
              .part
              .part 5
              .part
              .part 6
              .part
              .part 7
              .part
              .part 9
              .part
              .part 0
              .part
            section#wheel-2.wheel
              .part 1
              .part
              .part 2
              .part
              .part 3
              .part
              .part 4
              .part
              .part 5
              .part
              .part 6
              .part
              .part 7
              .part
              .part 9
              .part
              .part 0
              .part
            section#wheel-3.wheel
              .part 1
              .part
              .part 2
              .part
              .part 3
              .part
              .part 4
              .part
              .part 5
              .part
              .part 6
              .part
              .part 7
              .part
              .part 9
              .part
              .part 0
              .part
        section.bottom-box
          .side.top
          .side.bottom
          .side.left
          .side.right
          .side.front
            .fix
            #play
              .side.top
              .side.bottom
              .side.left
              .side.right
              .side.front spin
          .side.back
        section.side
